{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Create new</a>


    {% block javascripts %}

            <script src="{{ asset('assets/plugins/dataTables/jquery.dataTables.js') }}"></script>
            <script src="{{ asset('assets/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
            <script>
                $(document).ready(function () {
                    $('#dataTables-example').dataTable();
                });
            </script>
    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('assets/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />
    {% endblock %}
{% endblock %}

